<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ShufflingTool.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <!--<add name="KONICA_MINOLTA_DBEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=54.255.229.145;initial catalog=KONICA_MINOLTA_DB;persist security info=True;user id=sa;password=Admin@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
     <add name="KONICA_MINOLTA_DBEntities" connectionString="metadata=res://*/KONICA_MINOLTA_DB.csdl|res://*/KONICA_MINOLTA_DB.ssdl|res://*/KONICA_MINOLTA_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\local;initial catalog=KONICA_MINOLTA_DB;integrated security=True;persist security info=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <ShufflingTool.MySettings>
      <setting name="PURCHASING_DOCUMENT" serializeAs="String">
        <value>Purchasing Document</value>
      </setting>
      <setting name="DESCRIPTION" serializeAs="String">
        <value>Short Text</value>
      </setting>
      <setting name="MATERIAL" serializeAs="String">
        <value>Material</value>
      </setting>
      <setting name="DOCUMENT_DATE" serializeAs="String">
        <value>Document Date</value>
      </setting>
      <setting name="LOCATION" serializeAs="String">
        <value>Storage Location</value>
      </setting>
      <setting name="QTY" serializeAs="String">
        <value>Order Quantity</value>
      </setting>
      <setting name="BRANCH" serializeAs="String">
        <value>Plant</value>
      </setting>
      <setting name="INVENTORY_QTY" serializeAs="String">
        <value>Qty</value>
      </setting>
      <setting name="R_ORDER_QTY" serializeAs="String">
        <value>Order.Quantity</value>
      </setting>
      <setting name="R_STORAGE_LOCATION" serializeAs="String">
        <value>Storage.Location</value>
      </setting>
      <setting name="R_MATERIAL" serializeAs="String">
        <value>Material</value>
      </setting>
      <setting name="R_DOCUMENT_DATE" serializeAs="String">
        <value>Document.Date</value>
      </setting>
      <setting name="DATE_FORMAT" serializeAs="String">
        <value>dd/MM/yyyy</value>
      </setting>
    </ShufflingTool.MySettings>
  </userSettings>
</configuration>